extends layout

block content
    div.container(style=`width:800px;height:1000px;background-color:rgba(69, 110, 194,0.6);margin:0 auto;border:0px solid gray;border-radius:5px;`)
        button.btn.btn-primary(style=`margin-top:50px;`) Start Bot
        p ds
        form(method="post" action="/")
            input(type="test" name="field1")
            input(type="test" name="field2")
            input(type="submit")
